snippet #
	#${1:id}{
		${2}
	}

snippet .
	.${1:class}{
		${2}
	}

snippet div
	div {
		${1}
	}
	
snippet p
	p {
		${1}
	}
	
snippet sel
	 ${1:selector} {
	 }

snippet h 
	h${1:num} {
		${2}
	}

snippet sect
	section {
		${1}
	}

snippet hdr
	header {
		${1}
	}

snippet foot 
	footer {
		${1}
	}

snippet nav
	nav {
		${1}
	}

snippet ul
	ul {
		${1}
	}
	
snippet li 
	li {
		${1}
	}
	












	
