snippet var
	var ${1:varname} = ${2};

snippet qs
	querySelector(${1});

snippet doc
	document.

snippet ap
	appendChild(${1});

snippet ce
	createElement(${1});

snippet dcl
	DOMContentLoaded

snippet listen
	addEventListener(${1:event}, function(){${2}});
